/* custom styles */

.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 2em;
}

.btn-group { margin-bottom: 2em; }

a {
	color: black;
	text-decoration: underline;
}
a:hover { font-style: italic; }
ul {
	margin: 0;
	list-style-type: none;
}
a.kernbot {
	color: black;
	text-decoration: none;
	font-weight: 200;
	font-style: normal;
	-webkit-transition: all .25s ease;
	        transition: all .25s ease;
}
a.kernbot:hover {
	font-style: italic;
	-webkit-transition: all .25s ease;
	        transition: all .25s ease;
}

pre {
	max-height: 50vh;
	overflow: scroll;
}
pre hr {
	border-top: 2px solid white;
}

#KernBotOutput { margin-top: 2em; }

/* mobile first */
#KernBotOutput ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
#KernBotOutput ul li {
	padding: 1em;
	margin-bottom: 4em;
	width: 100%;
}
@media screen and (min-width: 500px) { #KernBotOutput ul li { width: 50%; } }
@media screen and (min-width: 850px) { #KernBotOutput ul li { width: 33%; } }
@media screen and (min-width: 1028px) { #KernBotOutput ul li { width: 25%; } }
@media screen and (min-width: 1260px) { #KernBotOutput ul li { width: 20%; } }
@media screen and (min-width: 1440px) { #KernBotOutput ul li { width: 16.66%; } }
@media screen and (min-width: 1800px) { #KernBotOutput ul li { width: 14.28%; } }

/* if grid */
@supports (display: grid) {
	#KernBotOutput ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		align-items: end;
	}
	#KernBotOutput ul li { width: auto; }
}
